.partners {
    background-color: #061728;
}

.why-bitmelech {
    background-color: white;
    .heading {
        color: #061728;
    }
    .partner-block {
        justify-content: space-between;
    }
}

.row-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.mt50 {
    margin-top: 50px;
}

.partner-block {
    height: 100%;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding: 20px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    height: 80px;
    font-size: 72px;
    color: #fff;
}

.bg-black {
    background: #000;
    color: #747474;
}

.bg-blue {
    background: #376ae0;
    color: white;
}