/**
 * Footer
 */

.footer {
  padding: 32px 0 0 0;
  hr {
    border: 0;
    border-top: 2px solid #525b73;
  }
  .column-inner {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
  .footer-title {
    margin-top: 50px;
    font-size: 25px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  ul {
    li {
      margin-bottom: 4px;
      a {
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        transition: color 0.25s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .footer__copy {
    background-color: #262b3b;
    padding: 8px 45px;
    .copyright {
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      @include bp($xl) {
        padding-left: 60px;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      @include bp-max($lg) {
        flex-direction: column-reverse;
        text-align: center;
      }
    }
    .social {
      display: flex;
      justify-content: center;
      @include bp($lg) {
        padding-right: 145px;
      }
      @include bp-max($lg) {
        margin-bottom: 15px;
      }
      .social--img {
        background: #12172c;
        border-radius: 50%;
        margin: 0 9px;
        flex: 0 0 auto;
        width: 44px;
        height: 44px;
      }
    }
  }
}
