/**
 * Footer
 */

.footer {
    // background: url(../img/footer-bg.jpg) no-repeat center top/cover;
    // color: rgba(255, 255, 255, 0.5);
    padding: 32px 0 0 0;
    .br {
        border-top: 4px solid #525b73;
    }
    .col-6 {
        margin-left: 80px;
    }
    .footer-title {
        margin-top: 50px;
        // text-transform: uppercase;
        font-size: 25px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul {
        li {
            margin-bottom: 4px;
            a {
                font-weight: 300;
                font-size: 18px;
                line-height: 35px;
                transition: color 0.25s ease-in-out;
            }
        }
    }
    .footer__copy {
        background-color: #262b3b;
        padding: 8px 45px;
        span {
            font-size: 18px;
            line-height: 40px;
            font-weight: 500;
        }
        .content {
            display: flex;
            justify-content: space-between;
            .copyright {
                padding-left: 80px;
            }
            .message {
                padding-right: 145px;
            }
            @include bp-max(1048px) {
                flex-direction: column-reverse;
                text-align: center;
                .message {
                    justify-content: center;
                    padding: 0;
                }
                .copyright {
                    padding: 0;
                }
            }
        }
        .message {
            display: flex;
            .message__img {
                background: #12172c;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                margin: 0 9px;
                flex: 0 0 auto;
            }
        }
    }
}