$breakpoints: (
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1400px,
);

/**
 * 12-columns grid layout
 */
.row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  // padding-left: 10px;
  // padding-right: 10px;
  flex-wrap: wrap;
  > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  /**
   * .col-1 {...}
   */
  @for $value from 1 through 12 {
    $width: calc($value / 12);
    .col-#{$value} {
      width: $width * 100%;
    }
  }
  /**
   * .col-sm-1 {...}
   * .col-sm-2 {...}
   * .col-sm-... {...}
   * .col-md-... {...}
   * .col-lg-... {...}
   */
  @each $point, $px in $breakpoints {
    @for $value from 1 through 12 {
      $width: calc($value / 12);

      .col-#{$point}-#{$value} {
        @include bp($px) {
          width: $width * 100%;
        }
      }
    }
  }
}

@each $point, $px in $breakpoints {
  .hidden-#{$point} {
    @include bp($px) {
      display: none;
    }
  }
  .hidden-#{$point}-max {
    @include bp-max($px) {
      display: none;
    }
  }
}